# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- list popular Data Science languages
- present simple arithmetic expressions
- create simple tables in markdown

## Author
John Sherrill

Some of the popular languages that Data Scientists use are:
- Python
- R
- Julia

Some of the commonly used libraries used by Data Scientists include:
* Pandas
* scikit-learn
* Plotly

| Data Science Tools |
--
| Jupyter Lab |
| git |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335